<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wrong URL you bitchass</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="dark:bg-slate-800">
  <div class="relative mx-auto my-24 max-w-md w-[90%] group">
      <div class="absolute inset-0 flex items-center justify-center rounded-xl border-2 py-16 sm:py-20 backdrop-blur-[0.01px] transform-gpu transition-transform duration-700 group-hover:-rotate-12 border-black dark:border-white z-0"></div>
      <div class="absolute inset-0 flex items-center justify-center rounded-xl border-2 py-16 sm:py-20 backdrop-blur-[0.01px] transform-gpu transition-transform duration-700 group-hover:rotate-12 border-black dark:border-white z-0"></div>

      <div class="relative z-10 rounded-xl border-2 border-black dark:border-white py-16 px-6 sm:px-10 backdrop-blur-sm transition-all duration-700 ease-in-out hover:backdrop-blur-lg bg-white/10 dark:bg-black/10 hover:scale-105 hover:translate-y-1">
      <img src="static/assets/404.png" alt="404 Image" class="w-[100px] mx-[133px] px-2 py-2 bg-white border-2 border-black rounded-full">
        <h1 class="text-6xl sm:text-7xl font-extrabold text-center mb-6 text-black dark:text-white">
          404
        </h1>
        <p class="text-lg text-center text-black dark:text-white mb-4">
          PageNotFound: Page Does not exist
        </p>
        <p class="text-sm text-center text-gray-600 dark:text-gray-300 p-3">
          Please check your url
        </p>

        <a href="/" class="px-[90px] pb-10">
          <button class="w-1/2 border-2 border-black dark:border-white rounded-full bg-green-300 text-green-800 dark:bg-green-800 dark:text-green-300 px-5 py-3 font-bold transform-gpu transition-all duration-500 hover:-translate-y-1 shadow-xl p-10">
              Home

          </button>

        </a>
      </div>
    </div>
</body>
</html>

