<!DOCTYPE html>
<html lang="en" id="Html">
<head>
  <meta charset="UTF-8">
  <title>Select a Number</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
        tailwind.config = {
            darkMode: 'selector',
            theme: {
                extend: {
                keyframes: {
                  'slide-in': {
                    '0%': { transform: 'translateY(-20px)', opacity: '0' },
                    '100%': { transform: 'translateY(0)', opacity: '1' },
                  },
                },
                animation: {
                  'slide-in': 'slide-in-down 0.3s ease-out',
                },
                colors: {
                    clifford: '#da373d',
          }
        }
      }
    }
    </script>
</head>
<body class="dark:bg-gray-900 text-white flex flex-col min-h-screen transition-colors">

  
  {%include "Navbar.html" %}
  {% if user %}
    <main class="flex-grow flex items-center justify-center">
      <div class="dark:bg-gray-800 text-black bg-white border-2 border-black dark:border-white p-8 rounded-2xl shadow-lg w-full max-w-md text-center transform-gpu transition-all hover:-translate-y-1">
        <h1 class="text-2xl font-bold mb-6 dark:text-white">Pick The Number Of Mines </h1>
        
        <form method="POST">
          <select name="number" class="w-full p-3 rounded-lg dark:bg-gray-700 dark:text-white text-black bg-white border-2 border-black dark:border-white focus:outline-none focus:ring-2 focus:ring-blue-500">
            {% for num in numbers %}
              <option value="{{ num }}" {% if selected == num|string %}selected{% endif %}>{{ num }}</option>
            {% endfor %}
          </select>

          <button type="submit" class="mt-4 bg-blue-600 hover:bg-blue-700 hover:shadow-lg px-4 py-2 rounded-lg transition-all">
            Submit
          </button>
        </form>

      </div>
    </main>
  {%else%}
    <div class="py-30">
    
    </div>
  {% endif %}
</body>
</html>
