<!DOCTYPE html>
<html lang="en", id="Html">
<head>
    <script>
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme === "dark") {
      document.documentElement.className = "dark";
    } else if (savedTheme === "light") {
      document.documentElement.className = "light";
    } else {
      // Default fallback based on system preference
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      document.documentElement.className = prefersDark ? "dark" : "light";
      localStorage.setItem("theme", prefersDark ? "dark" : "light");
    }
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibrisa</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'selector',
            theme: {
                extend: {
                keyframes: {
                  'slide-in': {
                    '0%': { transform: 'translateY(-20px)', opacity: '0' },
                    '100%': { transform: 'translateY(0)', opacity: '1' },
                  },
                },
                animation: {
                  'slide-in': 'slide-in-down 0.3s ease-out',
                },
                colors: {
                    clifford: '#da373d',
          }
        }
      }
    }
    </script>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
</head>
<body class="dark:bg-slate-800">
    {%include "Components/Navbar.html"%}
    {%include "Home/Hero.html"%}
    {%include "Home/FAQ.html"%}
    {%include "Home/Goal.html"%}
    {%include 'Home/Contact.html'%}
    {%include 'Components/Footer.html'%}

</body>
<script>
  window.onload = () => {
    const theme = localStorage.getItem("theme");
    const icon = document.getElementById("darkmode");
    if (theme === "dark") {
      icon.src = "/static/light.svg";
    } else {
      icon.src = "/static/dark.svg";
    }
  }
</script>

</html>